form {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin: 40px auto;
  background-color: white;
  box-shadow: 1px 2px 13px 4px rgba(0, 0, 0, 0.75);
}
label {
  color: rgb(150, 150, 150);
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  
}
input[type="text"] {
  width: 100%;
  border: none;
  font-size: 15px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(77, 77, 77);
  padding-top: 7px;
  border-bottom: 1px solid rgb(167, 167, 167);
  outline: none;
  margin-bottom: 10px;
}
label[for='rbM'], label[for='rbN'], label[for='rbT']{
    display: inline-block;
    cursor: pointer;
    padding-bottom: 5px;
    color: rgb(41, 41, 41);
}
input[type='radio'] {
    margin-top: 10px;
    cursor: pointer;
}
label[for='chkEst']{
    cursor: pointer;
    color: rgb(41, 41, 41);
}

input[type='checkbox'] {
    cursor: pointer;
}
#cboCurso {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 7px;
   
}
#btnRegistrar, #btnLimpiar {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-family: sans-serif;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  background: rgb(119,71,178);
background: linear-gradient(90deg, rgba(119,71,178,1) 0%, rgba(252,198,250,1) 100%);
}

/*Error*/
.error {
    border-radius: 15px;
    padding: 15px;
    list-style: none;
}
.error li {
    border-radius: 10px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: yellow;
    margin-bottom: 15px;
    padding: 5px;
}